.site-header {
	// DO NOT ADD PADDING HERE! - it screws up menus
	overflow 		: auto;

	@media only screen and (min-width: $bp__menu-button+1) {
		overflow 	: visible;
	}
}

.wrap-header {
	padding: 1em;

	@media only screen and (min-width: $bp__tablet) {
		padding: 0;
	}
}

.site-branding {
	align-items : center;
	display 	: flex;
	flex-wrap 	: wrap;
	margin		: 0 auto;
}

.site-title {
	text-align	: center;
	width 		: 100%;

	@media only screen and (min-width: $bp__tablet) {
		text-align 	: left;
		width 		: 50%;
	}

	a {
		color 			: $color__text-site-title;
		text-decoration : none;
	}
}

.site-description {
	text-align	: center;
	width 		: 100%;

	@media only screen and (min-width: $bp__tablet) {
		text-align 	: right;
		width 		: 50%;
	}
}