.home {

	.home-block-icon {
		color 		: $maroon;
		font-size	: 3.5em;
		margin 		: 0;
		transition 	: $trans__default;

		&:hover {
			color: $navy;
		}
	}

	.block-home-img {
		@media only screen and (min-width: $bp__tablet) {
			background-attachment 	: fixed;
			background-position 	: center center;
			background-repeat 		: no-repeat;
			background-size 		: cover;
			height 					: 300px;
			width 					: 100%;
		}
	}

	.blocks,
	.block-home-top {
		margin 		: 1.5em auto;
		max-width 	: $size__max-width;
	}

	.block-home-top {
		font-size 	: 1.25em;
		padding 	: 1em;
		text-align 	: center;

		@media only screen and (min-width: $bp__laptop) {
			padding-left 	: 0;
			padding-right 	: 0;
		}
	}

	.entry-content {
		font-size: 0.85em;
	}
}